<a href="https://colab.research.google.com/github/Umesh9045/DSBDA/blob/master/3_DSBDA_DataWrangling3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np

In [23]:
df1 = pd.read_csv("/content/Mall_Customers.csv")

In [24]:
print(df1)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [25]:
df1 = df1.rename(columns= {'Annual Income (k$)':'Income'})
df1 = df1.rename(columns = {'Spending Score (1-100)' : 'Score'})

df1

     CustomerID   Genre  Age  Income  Score
0             1    Male   19      15     39
1             2    Male   21      15     81
2             3  Female   20      16      6
3             4  Female   23      16     77
4             5  Female   31      17     40
..          ...     ...  ...     ...    ...
195         196  Female   35     120     79
196         197  Female   45     126     28
197         198    Male   32     126     74
198         199    Male   32     137     18
199         200    Male   30     137     83

[200 rows x 5 columns]

In [27]:
df1.head()

   CustomerID   Genre  Age  Income  Score
0           1    Male   19      15     39
1           2    Male   21      15     81
2           3  Female   20      16      6
3           4  Female   23      16     77
4           5  Female   31      17     40

In [28]:
df1.tail()

     CustomerID   Genre  Age  Income  Score
195         196  Female   35     120     79
196         197  Female   45     126     28
197         198    Male   32     126     74
198         199    Male   32     137     18
199         200    Male   30     137     83

In [29]:
df1.describe()

       CustomerID         Age      Income       Score
count  200.000000  200.000000  200.000000  200.000000
mean   100.500000   38.850000   60.560000   50.200000
std     57.879185   13.969007   26.264721   25.823522
min      1.000000   18.000000   15.000000    1.000000
25%     50.750000   28.750000   41.500000   34.750000
50%    100.500000   36.000000   61.500000   50.000000
75%    150.250000   49.000000   78.000000   73.000000
max    200.000000   70.000000  137.000000   99.000000

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  200 non-null    int64
 1   Genre       200 non-null    object
 2   Age         200 non-null    int64
 3   Income      200 non-null    int64
 4   Score       200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [33]:
df1.isnull().sum()

CustomerID    0
Genre         0
Age           0
Income        0
Score         0
dtype: int64

In [30]:
df1.mean()

<ipython-input-30-00fb6bfec183>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

CustomerID    100.50
Age            38.85
Income         60.56
Score          50.20
dtype: float64

In [31]:
df1.median()

<ipython-input-31-e41201014d8f>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.median()

CustomerID    100.5
Age            36.0
Income         61.5
Score          50.0
dtype: float64

In [38]:
df1.mode()

     CustomerID   Genre   Age  Income  Score
0             1  Female  32.0    54.0   42.0
1             2     NaN   NaN    78.0    NaN
2             3     NaN   NaN     NaN    NaN
3             4     NaN   NaN     NaN    NaN
4             5     NaN   NaN     NaN    NaN
..          ...     ...   ...     ...    ...
195         196     NaN   NaN     NaN    NaN
196         197     NaN   NaN     NaN    NaN
197         198     NaN   NaN     NaN    NaN
198         199     NaN   NaN     NaN    NaN
199         200     NaN   NaN     NaN    NaN

[200 rows x 5 columns]

In [40]:
df1['Age'].mode()

0    32
Name: Age, dtype: int64

In [42]:
df1['Age'].median()

36.0

In [52]:
df1.mean(axis=1) #rowwise

<ipython-input-52-b1a69263c9be>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.mean(axis=1) #rowwise

0       18.50
1       29.75
2       11.25
3       30.00
4       23.25
        ...
195    107.50
196     99.00
197    107.50
198     96.50
199    112.50
Length: 200, dtype: float64

In [51]:
df1.mean(axis=0) #columnwise

<ipython-input-51-a4ef8a51c546>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean(axis=0)

CustomerID    100.50
Age            38.85
Income         60.56
Score          50.20
dtype: float64

In [53]:
df1.std()  #Standard deviation

<ipython-input-53-1c22e8bf5753>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.std()

CustomerID    57.879185
Age           13.969007
Income        26.264721
Score         25.823522
dtype: float64

In [54]:
df1['Age'].std() #Standard deviation of specific column

13.96900733155888

In [55]:
df1.std(axis=1)[0:4] #std of first 4 rows

<ipython-input-55-94b55348b437>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.std(axis=1)[0:4]

0    15.695010
1    35.074920
2     8.057088
3    32.300671
dtype: float64

In [57]:
df1.min()

CustomerID         1
Genre         Female
Age               18
Income            15
Score              1
dtype: object

In [58]:
df1.max()

CustomerID     200
Genre         Male
Age             70
Income         137
Score           99
dtype: object

In [62]:
df1.groupby(['Genre'])['Age'].mean()

Genre
Female    38.098214
Male      39.806818
Name: Age, dtype: float64

In [63]:
df1.groupby(['Genre'])['Income'].mean()

Genre
Female    59.250000
Male      62.227273
Name: Income, dtype: float64

# IRIS DATASET

In [64]:
df2 = pd.read_csv("/content/IRIS.csv")

In [65]:
df2

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [66]:
df2.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [67]:
df2.mean()

<ipython-input-67-4a56ca50fe8e>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [74]:
iris1 = (df2['species'] == 'Iris-setosa')
df2[iris1].describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [75]:
df2[iris1].mean()

<ipython-input-75-ad713e1ae2bf>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2[iris1].mean()

sepal_length    5.006
sepal_width     3.418
petal_length    1.464
petal_width     0.244
dtype: float64