<a href="https://colab.research.google.com/github/Umesh9045/DSBDA/blob/master/1_DSBDA_DataWrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv("/content/Academic-Student.csv")

In [29]:
df.head()

   rollno  marks  gender   age  phd
0       1   22.0       0  22.0  yes
1       2   45.0       0  23.0   no
2       3   66.0       0   NaN   no
3       4   77.0       0  34.0  NaN
4       5   33.0       0  22.0   no

In [30]:
df.tail()

    rollno  marks  gender   age  phd
95      96   15.0       0  23.0  yes
96      97   20.0       1  22.0   no
97      98   30.0       1  21.0  NaN
98      99   30.0       1  21.0   no
99     100   20.0       1  22.0  yes

In [31]:
df.describe()

           rollno       marks      gender        age
count  100.000000  100.000000  100.000000  95.000000
mean    50.500000   29.560000    0.600000  23.126316
std     29.011492   14.864812    1.073087   1.891988
min      1.000000   11.000000    0.000000  21.000000
25%     25.750000   21.000000    0.000000  22.000000
50%     50.500000   25.500000    1.000000  23.000000
75%     75.250000   30.000000    1.000000  24.000000
max    100.000000   78.000000   10.000000  34.000000

In [32]:
df.isnull()

    rollno  marks  gender    age    phd
0    False  False   False  False  False
1    False  False   False  False  False
2    False  False   False   True  False
3    False  False   False  False   True
4    False  False   False  False  False
..     ...    ...     ...    ...    ...
95   False  False   False  False  False
96   False  False   False  False  False
97   False  False   False  False   True
98   False  False   False  False  False
99   False  False   False  False  False

[100 rows x 5 columns]

In [33]:
df.isnull().sum()

rollno    0
marks     0
gender    0
age       5
phd       8
dtype: int64

In [34]:
df.shape

(100, 5)

In [35]:
df.dropna(inplace=True)

In [36]:
df.isnull().sum()

rollno    0
marks     0
gender    0
age       0
phd       0
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rollno  87 non-null     int64
 1   marks   87 non-null     float64
 2   gender  87 non-null     int64
 3   age     87 non-null     float64
 4   phd     87 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 4.1+ KB

In [38]:
df['age'] = df['age'].astype(int)
df['marks'] = df['marks'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rollno  87 non-null     int64
 1   marks   87 non-null     int64
 2   gender  87 non-null     int64
 3   age     87 non-null     int64
 4   phd     87 non-null     object
dtypes: int64(4), object(1)
memory usage: 4.1+ KB

In [39]:
df['phd']

0     yes
1      no
4      no
5      no
7      no
     ...
93    yes
95    yes
96     no
98     no
99    yes
Name: phd, Length: 87, dtype: object

In [40]:
df['phd'] = df['phd'].replace("yes", 1)
df['phd'] = df['phd'].replace("no", 0)

df['phd']

0     1
1     0
4     0
5     0
7     0
     ..
93    1
95    1
96    0
98    0
99    1
Name: phd, Length: 87, dtype: int64

In [41]:
df['phd'] = df['phd'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rollno  87 non-null     int64
 1   marks   87 non-null     int64
 2   gender  87 non-null     int64
 3   age     87 non-null     int64
 4   phd     87 non-null     int64
dtypes: int64(5)
memory usage: 4.1 KB

**Data Cleaning** is the process in data wrangling which is used to detecting and correcting missing or currupted data from dataset.

**Data wrangling** is the process of cleaning, organizing, and transforming raw data into desired format for better decision makingin less time.

**Data pre-processing** is the technique that involves transformation of raw data into desire format.

**Data Normalization** is the process of organizing data in dataset. its aim is that eleminate reductancy and inconsistent dependancy.

**Dataframe** is the 2D tabular data structure that having rows and columns